@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{

}


html{
    overflow-x: hidden;
}


body{
    overflow: hidden;
}


.navigation{
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #824D96;
    position: absolute;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 10px;
    background-color: #824D96;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    font-size: 20px ;
    font-weight: 600;
    color: white;
    padding: 10px;
    transition: 1s;
}

.navbar a:hover,
.navbar a.active{
    color: black;
}

.main-img{
    top: 240px;
    position: absolute;
    width: 4000px;
    height: 3800px;
    left: 200px;
}

.Button{

}

.signup-button{
    border-radius: 20px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
}

.logout-button{
    border-radius: 20px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
}

.main-header1{
    color: #824D96;
    position: absolute;
    top: 370px;
    bottom: 0;
    left: 900px;
    right: 0;
    margin: auto;
    font-weight: bolder;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
}

.main-header2{
    color: #824D96;
    position: absolute;
    top: 470px;
    bottom: 0;
    left: 900px;
    right: 0;
    margin: auto;
    font-weight: bolder;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
}

#header-text{
    top: 580px;
    left: 900px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
}

#customer-part{
    width: 1800px;
    height: 1200px;
    background-color: #F7E6FE;
    top: 1000px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#customer-label-part{
    width: 1800px;
    height: 100px;
    background-image: linear-gradient(to right, #262A56,lightskyblue);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#customer-label-part h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 33px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.img-customer{
    color: white;
    font-size: 30px;
    top: 35px;
    left: 150px;
    position: absolute;
}

#search-part{
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1500px;
    height: 300px;
    position: absolute;
    background-color: white;
}

#search-label-part{
    width: 1500px;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #824D96;
}

#search-label-part h4{
    color: white;
    left: 10px;
    position: absolute;
    top: 10px;
}

#button-add-new-customer{
    width: 230px;
    top: 150px;
    left: 150px;
    position: absolute;
    border: 5px solid red;
    font-size: 20px;
    font-weight: bold;
}

#button-view-customer{
    width: 230px;
    top: 150px;
    left: 420px;
    position: absolute;
    border: 5px solid gray;
    font-size: 20px;
    font-weight: bold;
}

.customer-name-box{
    position: absolute;
    top: 180px;
    left: 180px;
    width: 300px;
    border: 2px solid black;
}

.btn-customer-search{
    top: 180px;
    left: 30px;
    width: 120px;
    height: 45px;
    font-size: 18.5px;
    font-weight: bold;
    position: absolute;
}

.customer-search-text-field{
    background-color: white;
    top: 100px;
    width: 700px;
    left: 30px;
    height: 50px;
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    border: 2px solid black;
}

.tbl-customer{
    top: 600px;
    width: 1500px;
    height: 200px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    border: 2px solid black;
}

.cus-card{
    max-width: 800px;
    margin-top: 50px;
    height: 600px;
    background-color: lightskyblue;
}

.name-text{
    top: 170px;
    left: 18px;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
    position: absolute;
}

.input-id{
    top: 50px;
    height: 50px;
    left: 18px;
    width: 450px;
    border: 2px solid darkblue;
    position: absolute;
}

.telNumber{
    top: 440px;
    left: 18px;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
    position: absolute;
}

.text-address{
    top: 290px;
    left: 18px;
    width: 450px;
    border: 2px solid darkblue;
    position: absolute;
}

.label-customerID{
    top: 20px;
    position: absolute;
}

.label-customerName{
    top: 140px;
    position: absolute;
}

.label-customerAddress{
    top: 260px;
    position: absolute;
}

.label-customerTel{
    top: 410px;
    position: absolute;
}

#customer-save{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#close-from{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#customer-delete{
    background-color: #B53471;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#customer-close{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#customer-update{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#table-topic{
    font-weight: 600;
    font-size: 20px;
    color: blue;
}

#item-part{
    width: 1800px;
    height: 1200px;
    background-color: #F7E6FE;
    top: 2500px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#item-label-part{
    width: 1800px;
    height: 100px;
    background-image: linear-gradient(to right, #262A56,lightskyblue);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#item-label-part h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 33px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.img-item{
    color: white;
    font-size: 30px;
    top: 35px;
    left: 150px;
    position: absolute;
}

#item-search-part{
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1500px;
    height: 300px;
    position: absolute;
    background-color: white;
}

#item-search-label-part{
    width: 1500px;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #824D96;
}

#item-search-label-part h4{
    color: white;
    left: 10px;
    position: absolute;
    top: 10px;
}

.item-search-text-field{
    background-color: white;
    top: 100px;
    width: 700px;
    left: 30px;
    height: 50px;
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    border: 2px solid black;
}

#button-add-new-item{
    width: 230px;
    top: 150px;
    left: 150px;
    position: absolute;
    border: 5px solid red;
    font-size: 20px;
    font-weight: bold;
}

#button-view-item{
    width: 230px;
    top: 150px;
    left: 420px;
    position: absolute;
    border: 5px solid grey;
    font-size: 20px;
    font-weight: bold;
}

.btn-item-search{
    top: 180px;
    left: 30px;
    width: 120px;
    height: 45px;
    font-size: 18.5px;
    font-weight: bold;
    position: absolute;
}

.item-card{
    max-width: 600px;
    margin-top: 50px;
    height: 600px;
    background-color: lightskyblue;
}

.label-ItemCode{
    top: 20px;
    position: absolute;
}

.label-ItemName{
    top: 140px;
    position: absolute;
}

.label-ItemPrice{
    top: 260px;
    position: absolute;
}

.label-ItemQty{
    top: 380px;
    position: absolute;
}

.input-code{
    top: 50px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}
.input-item{
    top: 170px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}

.input-price{
    top: 290px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}

.input-qty{
    top: 410px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}

#close-item{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-save{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-update{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-delete{
    background-color: #B53471;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-close{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-table-topic{
    font-weight: 600;
    font-size: 20px;
    color: blue;
}

#order-part{
    width: 1800px;
    height: 1700px;
    background-color: #F7E6FE;
    top: 4000px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

#order-label-part{
    width: 1800px;
    height: 100px;
    background-image: linear-gradient(to right, #262A56,lightskyblue);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#order-label-part h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 33px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.img-orders{
    color: white;
    font-size: 30px;
    top: 35px;
    left: 150px;
    position: absolute;
}

#invoice-details{
    top: 150px;
    left: 80px;
    width: 500px;
    height: 1000px;
    position: absolute;
    background-color: white;
}

#select-item{
    top: 150px;
    left: 650px;
    width: 500px;
    height: 1000px;
    position: absolute;
    background-color: white;
}

#order-detail{
    top: 150px;
    left: 1220px;
    width: 500px;
    height: 1000px;
    position: absolute;
    background-color: #F0CCFD;
}

#label-invoice-detail{
    top: 0;
    left: 0;
    width: 500px;
    height: 80px;
    position: absolute;
    background-color: #824D96;
}

#label-item-select{
    top: 0;
    left: 0;
    width: 500px;
    height: 80px;
    position: absolute;
    background-color: #824D96;
}

#label-invoice-detail h4{
    color: white;
    top: 22px;
    left: 180px;
    position: absolute;
}

#label-item-select h4{
    color: white;
    top: 22px;
    left: 180px;
    position: absolute;
}

.label-OrderId{
    top: 120px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-orderDate{
    top: 250px;
    position: absolute;
    font-size: 18px;
    left: 35px;
    font-weight: bold;
}

.label-load-customerId{
    top: 370px;
    position: absolute;
    font-size: 18px;
    left: 35px;
    font-weight: bold;
}

.load-customer-Id{
    top: 400px;
    position: absolute;
    left: 35px;
    height: 50px;
    width: 250px;
    border: 2px solid black;
}

.label-setName{
    top: 490px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-setTel{
    top: 735px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-setCSalary{
    top: 850px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-setAddress{
    top: 610px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.set-customerAddress{
    top: 640px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.input-OrderId{
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
    position: absolute;
}

.input-Date{
    top: 280px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-cSalary{
    top: 880px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-customerTel{
    top: 765px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-Cname{
    top: 520px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.label-load-itemCode{
    top: 120px;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.label-setItemName{
    top: 250px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

.label-setItemPrice{
    top: 370px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

.load-Item-code{
    top: 150px;
    position: absolute;
    left: 35px;
    height: 50px;
    width: 250px;
    border: 2px solid black;
}

.set-item-name{
    top: 280px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-Item-price{
    top: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.label-setItemQty{
    top: 490px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

.label-setOrderQty{
    top: 735px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #ff253a;
}

.set-qty{
    top: 520px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-OrderQty{
    top: 765px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.add-item-button{
    font-weight: bold;
    width: 150px;
    height: 50px;
    top: 880px;
    right: 0;
    left: 0;
    font-size: 18px;
    margin: auto;
    position: absolute;
    border-radius: 25px;
}

.add-item-button:hover{
    color: white;
    background-color: blue;
}

.label-setTotalPrice{
    font-weight: bold;
    font-size: 42px;
    top: 100px;
    left: 30px;
    position: absolute;
    color: #3742FA;
}

.label-setSubTotalPrice{
    font-weight: bold;
    font-size: 42px;
    top: 240px;
    left: 30px;
    position: absolute;
    color: #E51824;
}

.input-TotalPrice{
    top: 160px;
    position: absolute;
    left: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: #F0CCFD;
    border-radius: 0;
}

.input-SubTotalPrice{
    top: 300px;
    position: absolute;
    left: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: #F0CCFD;
    border-radius: 0;
}

.label-setCash{
    top: 400px;
    left: 30px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;

}

.label-setDiscount{
    top: 530px;
    left: 30px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
}

.label-setBalance{
    top: 660px;
    left: 30px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
}

.input-cash{
    top: 430px;
    position: absolute;
    left: 30px;
    width: 430px;
    height: 50px;
    border: 2px solid black;
    background-color: #F0CCFD;
    border-radius: 0;
}

.input-discount{
    top: 560px;
    position: absolute;
    left: 30px;
    width: 430px;
    height: 50px;
    border: 2px solid black;
    background-color: #F0CCFD;
    border-radius: 0;
}

.input-balance{
    top: 690px;
    position: absolute;
    left: 30px;
    width: 430px;
    height: 50px;
    border: 2px solid black;
    background-color: #F0CCFD;
    border-radius: 0;
}

.purchase-button{
    font-weight: bold;
    width: 150px;
    height: 50px;
    top: 880px;
    right: 0;
    left: 0;
    font-size: 18px;
    margin: auto;
    position: absolute;
    border-radius: 25px;
}

#purchase i{
    color: white;
    font-size: 19px;
}

.purchase-button:hover{
    background-color: #3742FA;
}

.tbl-order{
    top: 1200px;
    width: 1500px;
    height: 220px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    border: 2px solid black;
}

#order-table-topic{
    font-weight: 600;
    font-size: 20px;
    color: blue;
}

#footer-part{
    top: 5800px;
    position: absolute;
    left: 900px;
    bottom: 10px;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}


@media all and (max-width: 768px) {
    #customer-part{
        width: 650px;
        height: 1200px;
        top: 1000px;
        left: 0;
        right: 0;


    }

    #customer-label-part{
        width: 650px;
        height: 100px;

    }

    .navigation{
        top: 0;
        width: 768px;
        height: 80px;
        margin-left: 0;
    }

    .navbar a{
        font-size: 20px ;
        font-weight: 600;
        color: black;
        padding: 10px;
        transition: 1s;
    }

    .navbar a:hover,
    .navbar a.active{
        color: darkblue;
    }

    .main-img{
        top: 150px;
        position: absolute;
        width: 3000px;
        height: 3000px;
        left: 150px;
    }


    .signup-button{
        border-radius: 20px;
        width: 100px;
        font-weight: bold;
        font-size: 18px;
    }

    .logout-button{
        border-radius: 20px;
        top: 320px;
        left: 10px;
        position: absolute;
        width: 100px;
        font-weight: bold;
        font-size: 18px;
    }

    .main-header1{
        color: #824D96;
        position: absolute;
        top: 600px;
        bottom: 0;
        left: 180px;
        right: 0;
        margin: auto;
        font-weight: bolder;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 50px;
    }

    .main-header2{
        color: #824D96;
        position: absolute;
        top: 680px;
        bottom: 0;
        left: 180px;
        right: 0;
        margin: auto;
        font-weight:bolder;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 50px;
        font-family: "Jost", sans-serif;
    }

    #header-text{
        top: 780px;
        left: 180px;
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 600;
        position: absolute;
    }

    #search-part{
        top: 250px;
        left: 0;
        right: 0;
        margin: auto;
        width: 600px;
        height: 300px;

    }

    #search-label-part{
        width: 600px;
        height: 50px;
        position: absolute;
        top: 0;
        background-color: #824D96;
    }

    #search-label-part h4{
        color: white;
        left: 10px;
        position: absolute;
        top: 10px;
    }

    #button-add-new-customer{
        width: 230px;
        top: 150px;
        left: 70px;
        position: absolute;
        border: 5px solid red;
        font-size: 20px;
        font-weight: bold;
    }

    #button-view-customer{
        width: 230px;
        top: 150px;
        left: 350px;
        position: absolute;
        border: 5px solid gray;
        font-size: 20px;
        font-weight: bold;
    }

    .customer-search-text-field{
        background-color: white;
        top: 100px;
        width: 450px;
        left: 30px;
        height: 50px;
        font-size: 19px;
        font-weight: 500;
        position: absolute;
        border: 2px solid black;
    }

    .tbl-customer{
        top: 600px;
        width: 600px;
        height: 200px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        border: 2px solid black;
        font-size: 14px;
    }

    /*item*/

    #item-part{
        width: 650px;
        height: 1200px;
        background-color: #F7E6FE;
        top: 2500px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }

    #item-label-part{
        width: 650px;
        height: 100px;
        background-color: #262A56;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }

    #item-label-part h2{
        color: white;
        position: absolute;
        left: 180px;
        top: 33px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
    }

    .img-item{
        color: white;
        font-size: 30px;
        top: 35px;
        left: 130px;
        position: absolute;
    }

    #item-search-part{
        top: 250px;
        left: 0;
        right: 0;
        margin: auto;
        width: 600px;
        height: 300px;
        position: absolute;
        background-color: white;
    }

    #item-search-label-part{
        width: 600px;
        height: 50px;
        position: absolute;
        top: 0;
        background-color: #824D96;
    }

    #item-search-label-part h4{
        color: white;
        left: 10px;
        position: absolute;
        top: 10px;
    }

    .item-search-text-field{
        background-color: white;
        top: 100px;
        width: 450px;
        left: 30px;
        height: 50px;
        font-size: 19px;
        font-weight: 500;
        position: absolute;
        border: 2px solid black;
    }

    #button-add-new-item{
        width: 230px;
        top: 150px;
        left: 70px;
        position: absolute;
        border: 5px solid red;
        font-size: 20px;
        font-weight: bold;
    }

    #button-view-item{
        width: 230px;
        top: 150px;
        left: 350px;
        position: absolute;
        border: 5px solid grey;
        font-size: 20px;
        font-weight: bold;
    }

    #item-table-topic{
        font-weight: 600;
        font-size: 20px;
        color: blue;
    }

    /*place orders*/
    #order-part{
        width: 650px;
        height: 3800px;
        background-color: #F7E6FE;
        top: 4000px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }

    #order-label-part{
        width: 650px;
        height: 100px;
        background-color: #262A56;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }

    #order-label-part h2{
        color: white;
        position: absolute;
        left: 200px;
        top: 33px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
    }

    .img-orders{
        color: white;
        font-size: 30px;
        top: 35px;
        left: 150px;
        position: absolute;
    }

    #invoice-details{
        top: 150px;
        left: 80px;
        width: 500px;
        height: 1000px;
        position: absolute;
        background-color: white;
    }

    #select-item{
        top: 1250px;
        left: 80px;
        width: 500px;
        height: 1000px;
        position: absolute;
        background-color: white;
    }

    #order-detail{
        top: 2700px;
        left: 80px;
        width: 500px;
        height: 1000px;
        position: absolute;
        background-color: #F0CCFD;
    }

    .tbl-order{
        top: 2330px;
        width: 600px;
        height: 220px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        border: 2px solid black;
    }

    #order-table-topic{
        font-weight: 600;
        font-size: 20px;
        color: blue;
    }

    #footer-part{
        top: 3800px;
        position: absolute;
        left: 900px;
        bottom: 10px;
        margin: auto;
        font-size: 16px;
        font-weight: 600;
    }

}


@media all and (max-width: 375px) {

}














