@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{

}

html{
    overflow-x: hidden;
}


body{
    overflow: hidden;
}


.navigation{
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #824D96;
    position: absolute;
}


.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 10px;
    background-color: #824D96;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    font-size: 20px ;
    font-weight: 600;
    color: white;
    padding: 10px;
    transition: 1s;
}

.navbar a:hover,
.navbar a.active{
    color: black;
}

.main-img{
    top: 240px;
    position: absolute;
    width: 2000px;
    height: 1800px;
    left: 130px;
}

.Button{

}

.signup-button{
    border-radius: 20px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;

}

.logout-button{
    border-radius: 20px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
}
.main-header1{
    color: #824D96;
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 1000px;
    right: 0;
    margin: auto;
    font-weight: bolder;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
}

.main-header2{
    color: #824D96;
    position: absolute;
    top: 390px;
    bottom: 0;
    left: 1000px;
    right: 0;
    margin: auto;
    font-weight: bolder;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
}

#customer-part{
    width: 1800px;
    height: 1200px;
    background-color: #F7E6FE;
    top: 1000px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#customer-label-part{
    width: 1800px;
    height: 100px;
    background-color: #262A56;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#customer-label-part h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 33px;
}

.img-customer{
    color: white;
    font-size: 30px;
    top: 35px;
    left: 150px;
    position: absolute;
}

#search-part{
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1500px;
    height: 300px;
    position: absolute;
    background-color: white;
}

#search-label-part{
    width: 1500px;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #824D96;
}

#search-label-part h4{
    color: white;
    left: 10px;
    position: absolute;
    top: 10px;

}

#button-add-new-customer{
    width: 230px;
    top: 150px;
    left: 150px;
    position: absolute;
    border: 5px solid red;
    font-size: 20px;
    font-weight: bold;
}

.customer-name-box{
    position: absolute;
    top: 180px;
    left: 180px;
    width: 300px;
    border: 2px solid black;
}

.btn-customer-search{
    top: 180px;
    left: 30px;
    width: 120px;
    height: 45px;
    font-size: 18.5px;
    font-weight: bold;
    position: absolute;
}

.customer-search-text-field{
    background-color: white;
    top: 100px;
    width: 700px;
    left: 30px;
    height: 50px;
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    border: 2px solid black;
}

.tbl-customer{
    top: 600px;
    width: 1500px;
    height: 200px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.cus-card{
    max-width: 800px;
    margin-top: 50px;
    height: 600px;
    background-color: lightskyblue;
}

.name-text{
    top: 170px;
    left: 18px;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
    position: absolute;
}

.input-id{
    top: 50px;
    height: 50px;
    left: 18px;
    width: 450px;
    border: 2px solid darkblue;
    position: absolute;
}

.telNumber{
    top: 440px;
    left: 18px;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
    position: absolute;
}

.text-address{
    top: 290px;
    left: 18px;
    width: 450px;
    border: 2px solid darkblue;
    position: absolute;
}

.label-customerID{
    top: 20px;
    position: absolute;
}

.label-customerName{
    top: 140px;
    position: absolute;
}

.label-customerAddress{
    top: 260px;
    position: absolute;
}

.label-customerTel{
    top: 410px;
    position: absolute;

}



#customer-save{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#close-from{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#customer-delete{
    background-color: #B53471;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#customer-close{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#customer-update{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#table-topic{
    font-weight: 600;
    font-size: 20px;
    color: blue;
}

#item-part{
    width: 1800px;
    height: 1200px;
    background-color: #F7E6FE;
    top: 2500px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#item-label-part{
    width: 1800px;
    height: 100px;
    background-color: #262A56;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#item-label-part h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 33px;
}

.img-item{
    color: white;
    font-size: 30px;
    top: 35px;
    left: 150px;
    position: absolute;
}

#item-search-part{
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1500px;
    height: 300px;
    position: absolute;
    background-color: white;
}

#item-search-label-part{
    width: 1500px;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #824D96;
}

#item-search-label-part h4{
    color: white;
    left: 10px;
    position: absolute;
    top: 10px;

}

.item-search-text-field{
    background-color: white;
    top: 100px;
    width: 700px;
    left: 30px;
    height: 50px;
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    border: 2px solid black;
}

#button-add-new-item{
    width: 230px;
    top: 150px;
    left: 150px;
    position: absolute;
    border: 5px solid red;
    font-size: 20px;
    font-weight: bold;
}

.btn-item-search{
    top: 180px;
    left: 30px;
    width: 120px;
    height: 45px;
    font-size: 18.5px;
    font-weight: bold;
    position: absolute;
}

.item-card{
    max-width: 600px;
    margin-top: 50px;
    height: 600px;
    background-color: lightskyblue;
}

.label-ItemCode{
    top: 20px;
    position: absolute;
}

.label-ItemName{
    top: 140px;
    position: absolute;
}

.label-ItemPrice{
    top: 260px;
    position: absolute;
}

.label-ItemQty{
    top: 380px;
    position: absolute;
}

.input-code{
    top: 50px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}
.input-item{
    top: 170px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}

.input-price{
    top: 290px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}

.input-qty{
    top: 410px;
    left: 18px;
    position: absolute;
    width: 450px;
    height: 50px;
    border: 2px solid darkblue;
}

#close-item{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-save{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-update{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-delete{
    background-color: #B53471;
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-close{
    font-weight: bold;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 35px;
}

#item-table-topic{
    font-weight: 600;
    font-size: 20px;
    color: blue;
}

#order-part{
    width: 1800px;
    height: 1200px;
    background-color: #F7E6FE;
    top: 4000px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#order-label-part{
    width: 1800px;
    height: 100px;
    background-color: #262A56;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#order-label-part h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 33px;
}

.img-orders{
    color: white;
    font-size: 30px;
    top: 35px;
    left: 150px;
    position: absolute;
}

#invoice-details{
    top: 150px;
    left: 80px;
    width: 500px;
    height: 1000px;
    position: absolute;
    background-color: white;
}

#select-item{
    top: 150px;
    left: 650px;
    width: 500px;
    height: 1000px;
    position: absolute;
    background-color: white;
}

#order-detail{
    top: 150px;
    left: 1220px;
    width: 500px;
    height: 1000px;
    position: absolute;
    background-color: #F0CCFD;
}

#label-invoice-detail{
    top: 0;
    left: 0;
    width: 500px;
    height: 80px;
    position: absolute;
    background-color: #824D96;
}

#label-item-select{
    top: 0;
    left: 0;
    width: 500px;
    height: 80px;
    position: absolute;
    background-color: #824D96;
}

#label-invoice-detail h4{
    color: white;
    top: 22px;
    left: 180px;
    position: absolute;
}

#label-item-select h4{
    color: white;
    top: 22px;
    left: 180px;
    position: absolute;
}

.label-OrderId{
    top: 120px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-orderDate{
    top: 250px;
    position: absolute;
    font-size: 18px;
    left: 35px;
    font-weight: bold;
}

.label-load-customerId{
    top: 370px;
    position: absolute;
    font-size: 18px;
    left: 35px;
    font-weight: bold;
}

.load-customer-Id{
    top: 400px;
    position: absolute;
    left: 35px;
    height: 50px;
    width: 250px;
    border: 2px solid black;
}

.label-setName{
    top: 490px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-setTel{
    top: 735px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-setCSalary{
    top: 850px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.label-setAddress{
    top: 610px;
    position: absolute;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.set-customerAddress{
    top: 640px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.input-OrderId{
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
    position: absolute;
}

.input-Date{
    top: 280px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-cSalary{
    top: 880px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-customerTel{
    top: 765px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-Cname{
    top: 520px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.label-load-itemCode{
    top: 120px;
    left: 35px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

.label-setItemName{
    top: 250px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

.label-setItemPrice{
    top: 370px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

.load-Item-code{
    top: 150px;
    position: absolute;
    left: 35px;
    height: 50px;
    width: 250px;
    border: 2px solid black;
}

.set-item-name{
    top: 280px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-Item-price{
    top: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.label-setItemQty{
    top: 490px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

.label-setOrderQty{
    top: 735px;
    left: 35px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #ff253a;
}

.set-qty{
    top: 520px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.set-OrderQty{
    top: 765px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 430px;
    border: 2px solid black;
}

.add-item-button{
    font-weight: bold;
    width: 150px;
    height: 50px;
    top: 880px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    border-radius: 25px;
}

.add-item-button:hover{
    color: white;
    background-color: blue;
}

.label-setTotalPrice{
    font-weight: bold;
    font-size: 42px;
    top: 100px;
    left: 30px;
    position: absolute;
    color: #3742FA;
}

.label-setSubTotalPrice{
    font-weight: bold;
    font-size: 42px;
    top: 240px;
    left: 30px;
    position: absolute;
    color: #E51824;
}

.input-TotalPrice{
    top: 160px;
    position: absolute;
    left: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: #F0CCFD;
    border-radius: 0;
}

.input-SubTotalPrice{
    top: 300px;
    position: absolute;
    left: 30px;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: #F0CCFD;
    border-radius: 0;

}