@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');

.signup{
    width: 600px;
    height: 700px;
    background-color: #F7E6FE;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    margin: auto;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px,
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px,
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, /* New shadow 1 */
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;}

.signup img{
    top: -50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
}
#signup-label-part{
    width: 600px;
    height: 80px;
    background-color: #262A56;
}

#signup-label-part h2{
    color: white;
    position: absolute;
    left: 240px;
    top: 26px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;

}

.Email{
    top: 250px;
    left: 50px;
    width: 500px;
    height: 50px;
    position: absolute;
    border: 2px solid black;
}

.Password{
    top: 380px;
    left: 50px;
    width: 500px;
    height: 50px;
    position: absolute;
    border: 2px solid black;
}

#email-label{
    top: 220px;
    left: 50px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

#password-label{
    top: 350px;
    left: 50px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
}

#Button{
    top: 580px;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 35px;
    position: absolute;
}

#check-remember{
    top: 480px;
    left: 90px;
    position: absolute;
}

.CheckBox{
    top: 480px;
    left: 80px;
    position: absolute;
}